$class-prefix-dropdown: "vf-dropdown";

.#{$class-prefix-dropdown} {
  position: absolute;
  background-color: white;
  z-index: 70;
  will-change: width, height;
  border-radius: 12px;
  overflow: hidden;
  transition: opacity 0.1s cubic-bezier(0, 0, 0.2, 1);
  -webkit-transition: opacity 0.1s cubic-bezier(0, 0, 0.2, 1);
  -moz-transition: opacity 0.1s cubic-bezier(0, 0, 0.2, 1);
  -ms-transition: opacity 0.1s cubic-bezier(0, 0, 0.2, 1);
  -o-transition: opacity 0.1s cubic-bezier(0, 0, 0.2, 1);
}

.#{$class-prefix-dropdown}-close {
  display: none;
}
