@use "./../../ControlsBar" as *;
@use "./../../ControlIcon" as *;
@use "./../../SoundIcon" as *;
@use "./../../Settings" as *;
@use "./../../FullScreen" as *;
@use "./../../Subtitle" as *;
@use "./../../MiniPlayer" as *;
@use "./../../ProgressBar" as *;
@use "./../../SecondsForward" as *;
@use "./../../Wrapper" as *;
@use "./../../PlayButton" as *;
@use "./../../Screenshot" as *;
@use "./../../ArrowNavigation" as *;
@use "./../../Speed" as *;
@use "./VideoPlayer" as *;
