@use "./../../../global/theme-default.scss" as *;

$class-prefix-vidify: "vf-video";

.#{$class-prefix-vidify} {
  max-width: 100%;
  max-height: 100%;
  min-height: 100%;
  min-height: 100%;
  object-fit: contain;
  overflow: clip;
  overflow-clip-margin: clip;
}

.#{$class-prefix-vidify}-wrapper-fullscreen {
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  video {
    height: 100%;
    width: 100%;
  }
}
