$class-prefix-filter: "vf-filter";

.#{$class-prefix-filter} {
  padding: 10px;
  position: relative;
  padding-top: 30px;
  overflow-y: auto;
  height: 100%;
  &-close-icon {
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 10px;
  }

  &-item {
    padding: 0 10px 10px 10px;
    text-transform: capitalize;
    p {
      font-size: 13px;
      span {
        font-weight: 600;
        font-size: 14px;
        margin-left: 10px;
      }
      margin-bottom: 8px;
    }
  }

  &-item-rotation {
    cursor: pointer;
    padding: 0 10px;
    height: 30px;
    display: flex;
    align-items: center;
    p {
      margin: 0;
    }
    &:hover {
      background-color: var(--vf-dropdown-menu-item-hover);
    }
  }

  &-slider.vf-slider {
    width: 100% !important;
  }

  &-reset-button {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    button {
      background-color: var(--vf-color-white);
      color: var(--vf-color-black);
      border: 1px solid var(--vf-color-black);
      border-radius: 4px;
      padding: 5px 10px;
      font-size: 13px;
      font-weight: 500;
      cursor: pointer;
      margin-top: 10px;
    }
  }
}
