$class-prefix-arrow-navigation-button: "vf-arrow-navigation-button";

.#{$class-prefix-arrow-navigation-button}-disabled {
  svg {
    path {
      fill: #bababad6;
    }
  }
  cursor: not-allowed;
  pointer-events: none;
}
