.header {
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  background-color: #d7e7ef;
  border-bottom: 1px solid #8c8c8c33;
  &-left {
    display: flex;
    align-items: center;
    column-gap: 5px;
    p {
      font-size: 25px;
      font-weight: 600;
      color: var(--vf-color-primary);
      letter-spacing: 2px;
    }
  }

  &-right {
    display: flex;
    align-items: center;
    column-gap: 10px;
    .buy-me-coffee-button {
      display: flex;
      align-items: center;
      width: 150px;
      img {
        width: 100%;
      }
    }

    .github-button {
      display: flex;
      align-items: center;
      column-gap: 3px;
      cursor: pointer;
      color: var(--vf-color-black);
      &:hover {
        color: var(--vf-color-primary);
      }
    }

    .start-button {
      display: flex;
      align-items: center;
      column-gap: 8px;
      cursor: pointer;
      border: 1px solid #768390;
      background-color: #010409;
      color: var(--vf-color-white);
      padding: 10px;
      border-radius: 9px;
      -webkit-border-radius: 9px;
      -moz-border-radius: 9px;
      -ms-border-radius: 9px;
      -o-border-radius: 9px;
      box-shadow: inset 0px 0px 5px 0px var(--vf-color-white);
      &:hover {
        box-shadow: inset 0px 0px 8px 0px var(--vf-color-white);
      }
      transition: all 0.2s;
      -webkit-transition: all 0.2s;
      -moz-transition: all 0.2s;
      -ms-transition: all 0.2s;
      -o-transition: all 0.2s;
    }

    .generate-code-button {
      background-color: var(--vf-color-info);
      color: var(--vf-color-white);
      padding: 10px;
      border-radius: 9px;
      -webkit-border-radius: 9px;
      -moz-border-radius: 9px;
      -ms-border-radius: 9px;
      -o-border-radius: 9px;
      cursor: pointer;
      box-shadow: inset 0px 0px 5px 0px var(--vf-color-white);
      display: flex;
      align-items: center;
      svg {
        margin-right: 7px;
      }
    }
  }

  #generate-code {
    white-space: pre-wrap;
    z-index: 100;
    background-color: #1e1e1e;
    opacity: 1;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    line-height: 23px;
    padding: 20px;
    z-index: 1000;
    width: 600px;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  @media screen and (max-width: 1000px) {
    .header-right {
      .generate-code-button svg {
        margin: 0;
      }
      .buy-me-coffee-button {
        width: fit-content;
      }
    }

    #generate-code {
      width: 300px;
    }
  }

  @media screen and (max-width: 300px) {
    .header-right {
      display: none;
    }
  }
}
