$light: white;

$main: #d7e7ef;

$info: #1cc3eb;
$info-50: #ecfdff;
$info-100: #d0f7fd;
$info-200: #a6edfb;
$info-300: #69def7;
$info-400: #1cc3eb;
$info-500: #08a8d2;
$info-600: #0a86b0;
$info-700: #0f6b8f;
$info-800: #165774;
$info-900: #174962;
$info-950: #092f43;

$success: #4caf50;
$success-50: #f3faf3;
$success-100: #e3f5e3;
$success-200: #c8eac9;
$success-300: #9dd89f;
$success-400: #6bbd6e;
$success-500: #4caf50;
$success-600: #358438;
$success-700: #2d6830;
$success-800: #275429;
$success-900: #224525;
$success-950: #0e2510;

$danger: #f04438;
$danger-50: #fff9f9;
$danger-100: #ffe3e1;
$danger-200: #ffccc8;
$danger-300: #ffa8a2;
$danger-400: #fc776d;
$danger-500: #f44336;
$danger-600: #e22d20;
$danger-700: #be2217;
$danger-800: #9d2017;
$danger-900: #82211a;
$danger-950: #470c08;

$warning: #ffc008;
$warning-50: #fffeea;
$warning-100: #fffbc5;
$warning-200: #fff785;
$warning-300: #ffed46;
$warning-400: #ffde1b;
$warning-500: #ffc008;
$warning-600: #e29200;
$warning-700: #bb6802;
$warning-800: #985008;
$warning-900: #7c410b;
$warning-950: #482100;

$dark: #131f3c;
$dark-50: #edf8ff;
$dark-100: #def2ff;
$dark-200: #c4e5ff;
$dark-300: #a1d2ff;
$dark-400: #7bb6fe;
$dark-500: #5c96f8;
$dark-600: #3e72ed;
$dark-700: #305dd2;
$dark-800: #2a4fa9;
$dark-900: #2a4785;
$dark-950: #131f3c;

$secondary: #d6d9e1;
$secondary-50: #f6f7f9;
$secondary-100: #f1f2f5;
$secondary-200: #d6d9e1;
$secondary-300: #b1b9c8;
$secondary-400: #8793a9;
$secondary-500: #68758f;
$secondary-600: #535e76;
$secondary-700: #444c60;
$secondary-800: #3b4151;
$secondary-900: #343946;
$secondary-950: #23262e;

$grey: #91939a;

$hover: #d7e7ef;
