.demo-box {
  border: solid 1px #cbe0ed;
  border-radius: 4px;
  padding: 15px 20px 10px 20px;
  margin: 7px;
  &-header {
    font-weight: 500;
    font-size: 21px;
    line-height: 25px;
    letter-spacing: -0.5px;
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
  }
}
